
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bungee+Spice&family=Dancing+Script&family=Josefin+Sans&family=Merriweather+Sans&family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bungee+Spice&family=Dancing+Script&family=Josefin+Sans&family=Merriweather+Sans&family=Merriweather:ital,wght@1,300&family=Roboto:wght@300;400&display=swap');
/* ############# public style ########## */
*{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 78%;
    margin: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Josefin Sans",sans-serif; 
    color:#0b1c39; 


}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.btn{
    padding: 15px 30px;
    background-color: #333;

    color: #fff;
    text-transform: uppercase;
    border: 0;
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: #ff2020;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width .5s;
}
.btn:hover:before{
width: 100%;

}

/* ############# navbar style ########## */

nav{
   padding: 2%;
   background-color: #fff;
   position:sticky;
   top: 0;
   z-index: 99;

}
nav .nav-logo{
    width: 20%;
}
nav .nav-list{
    width: 60%;
}
nav .nav-list .list{
    display: flex;
    justify-content: center;

}
nav .nav-list .list .list-item{
position: relative;
    margin-right: 40px;
}
nav .nav-list .list .list-item .nav-link{
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Josefin Sans",sans-serif;
    color: #141517;
    transition: color .4s;
}

nav .nav-list .list li .dropdown{
    position: absolute;
    background-color: #fff;
    top: 80px;
    width: 151px;
    padding: 25px 16px;
    border-top: 3px solid #ff2020;
    border-radius: 5px;
    opacity:0;
    visibility: hidden;
    transition: opacity 1s,top 2s;

}
nav .nav-list .list li:hover .dropdown{

    opacity:1;
    visibility:visible;


}

nav .nav-list .list li .dropdown::before{
    position: absolute;
    top:-19px;
    content: "";
    border-bottom: 7px solid #ff2020;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left:  10px solid transparent;
    
    

}
nav .nav-list .list li .dropdown li{
     margin-bottom: 15px;
}
nav .nav-list .list li .dropdown li a{
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Josefin Sans",sans-serif;
    color: #141517;
    transition: color .4s;


}

nav .nav-list .list .list-item:hover .nav-link{

color:#ff2020;

}
.list .list-item:nth-child(4)::after
{
    content: "HOT";
    position: absolute;
    background-color: #ff2020;
    padding: 4px 5px;
    bottom:19px ;
    left: 25px;
    border-radius:10px;
    font-size: 13px;
    color: #fff;
}

nav .nav-icon{
    width: 20%;
    text-align: right;
    color: black;
}
nav .nav-icon a {
color: black;
margin: 0 15px;
    
}
nav .nav-icon a i:hover {
    color: #ff2020;
}
        
   
label,#inpChecked{
    display: none;
}
 
@media screen and (max-width:991px) {
    nav .nav-list{
     background-color: #333;
     position: absolute;
     top:7%;
     width: 80%;
     left: 5%;
     opacity: 0;
     padding: 28px 18px;
     visibility: hidden;

    }
    nav .nav-list .list{
        display: block;
    
    }
    label{
        display: block;
       order:1;

    }
    #inpChecked:checked + .nav-list{
    opacity: 1;
    visibility: visible;
    transition: opacity .6s;

    }
    nav .nav-list .list .list-item{
      margin-bottom: 20px;
      margin-right:0;
        }
    nav .nav-list .list .list-item .nav-link{
        color: white;}
     .list .list-item:nth-child(4)::after{
        display: none;
}    
nav .nav-list .list li:hover .dropdown{
 display: none;

}


}
@media screen and (max-width:575px) 
{
    nav .nav-logo{
        width: 25%;
    }
    nav .nav-logo img{
width: 100%;

    }

    nav .nav-icon{
        width: 40%;
        text-align: center;
    }
        nav .nav-icon a {
            margin: 0 10px;}
}


/* ############# header style ########## */


header {
    background-color: #F0F0F2;

}
header .container{
    overflow: hidden;
}
header .header-content{
    width: 65%;
    animation-name: contentLeft;
    animation-duration: 1.5s;
   
}

@keyframes contentLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }



}
header .header-content h1{
 font-size: 96px;
 font-weight:700 ;
 line-height: 1.2;
 margin-bottom: 26px;
 width:110% ;

}
header .header-content p{
    color: #212025;
    font-size: 17px;
    width:85% ;
    margin-bottom: 60px;
    padding-right: 50px;
    line-height: 1.6;
    font-weight: 400
}
   
   
header .header-image{
    width: 35%;
 animation-name: imgScale;
 animation-duration: 2s;
 animation-iteration-count: infinite;

}
header .header-image  img{
    width: 100%;
    height: 80%;
}
@keyframes imgScale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }

}
@media screen and (max-width:991px) 
{



    header .header-content h1{
        font-size: 40px;
        line-height: 1;
       }
      

    header .header-content p{
        
        width:100% ;
        margin-bottom: 35px;

   
}
}

@media screen and (max-width:575px) 
{


header .header-content{
    width: 100%;
  padding: 10% 0;
}

    header .header-content h1{
        font-size: 37px;
        line-height: 1;
       }
      
header .header-image{
    display: none;
    }
    header .header-content p{
        
        width:100% ;
        margin-bottom: 30px;

   
}
}


/* ############# arrivals style ########## */
.arrivals{
    padding: 10% 0;
}
.arrivals .title ,.watch-area .watch-area-content h2{
 font-weight: 700;
    font-size: 48px;
    margin-bottom:62px;
    color: black;
    line-height: 1;
}

.arrivals .row{
    justify-content: center;
    gap: 30px;
}

.arrivals .parent{
    width:30%;
}
.arrivals .img-over{
    overflow:hidden;
}
.arrivals .img-over:hover  img{
   transform: scale(1.1);
}

.arrivals .img-over img{
    width:100%;
    transition:transform .5s;
}

.arrivals .caption{
    padding-top:10%;
    text-align: center;
    font-family:"Josefin Sans",sans-serif; ;

}
.arrivals .caption a{
    color :#444;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    display: inline-block;
}
.arrivals .caption p{
color: #ff2020;
font-size: 18px;
font-weight: 600;

}

@media screen and (max-width:575px) 
{
    .arrivals .row{
        flex-direction: column;
      

    }
    .arrivals .parent{
        width:100%;
    }
    .arrivals .title{
        margin-bottom:40px;
        font-size: 30px};
}
@media screen and (min-width:575px)and (max-width:991px) {
    .arrivals .parent{
        width:45%;
    }
    .arrivals .row{
        flex-wrap: wrap;
        justify-content: flex-start;

    }


}

/* ############# gallery  style ########## */

.gallery .gallery-row{
 display: flex;
 gap:30px;
 overflow: hidden;

}
.gallery .img-overlay{
   
   opacity:0;;
   transition: opacity .5s;
 
}

.gallery .gallery-row .img-single:nth-child(1):hover .img-overlay ,
.gallery .gallery-row .img-single:nth-child(2):hover .img-overlay{ 

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity:.5;
  

}



.gallery .gallery-row .img-single{
    width: 25%;
    height: 600px;
    overflow: hidden;
    transition: transform .5s;
    position: relative;
 

}
.gallery .gallery-row .img-single:nth-child(1):hover img ,
.gallery .gallery-row .img-single:nth-child(2):hover img{
    transform: scale(1);
}
 
.gallery .gallery-row .img-single:nth-child(1){
    width: 50%;
}
.gallery .gallery-row .img-single img{
    width:100%;
    height: 100%;
    transform: scale(1.2);
    


}
.gallery .gallery-row .img-single:nth-child(3) .gallery-column{
     
    display: flex;
    flex-direction: column;
    gap:20px;
}

.gallery .gallery-row .img-single:nth-child(3) .gallery-column .img-single{
    width: 100%;
    height: 290px;
}


@media screen and (min-width:575px)and (max-width:991px) {

 
    .gallery .gallery-row{
        flex-wrap: wrap;
    }
   
  
    .gallery .gallery-row .img-single{
        width: 46%;
    }
    .gallery .gallery-row .img-single:nth-child(3) .gallery-column{
     
        gap:30px;
        flex-direction:row;
       
} .gallery .gallery-row .img-single:nth-child(3){
    width: 100%;
    height: 300px;
}
}

@media screen and (max-width:575px) 
{
    .gallery .gallery-row{
        flex-direction: column;
    }
    .gallery .gallery-row .img-single:nth-child(1){
        width: 100%;
    }
  
    .gallery .gallery-row .img-single{
        width: 100%;}
}

/* ############# popular style ########## */
.popular{
  padding: 12% 0;

}

.popular .title{
    text-align: center;
}
.popular .title h2{
    font-weight: 700;
       font-size: 48px;
       margin-bottom:10px;
       color: black;
       line-height: 1;
   }

.popular .title p {
     width: 60%;
     margin: auto;
     color: #777;
     font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-family: "Roboto",sans-serif;

   }
.popular .row{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.popular .single-popular{
    width: 30%;
}
.popular .single-popular .img-popular{
position: relative;
overflow: hidden;
border-bottom:2px solid #ff2020; 
margin-bottom: 19px;
}
.popular .single-popular .img-popular img{
width:100%;
}

.popular .single-popular .img-popular i{
    position: absolute;
    top:5%;
    right: 5%;
    color: #333;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    
}
.popular .single-popular .img-popular:hover i{
    
    opacity: 1;
    visibility: visible;

}

.popular .single-popular .img-popular a{
    position: absolute;
    left:0;
    bottom:-100%;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    background-color: #f81f1f;
    font-family:"Josefin Sans",sans-serif; 
    transition: bottom .7s;
  
    
}
.popular .single-popular .img-popular:hover a{
   bottom: 1%;
}


.popular .single-popular .caption{
    text-align: center;
}
.popular .single-popular .caption a{
    color :#444;
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 700;
    display: inline-block;
   
}
.popular .single-popular .caption p{
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    display: block;
}
.popular .btn, .watch-area .watch-area-content .btn{
    background-color: #ff2020;

}
.popular .btn::before,.watch-area .watch-area-content .btn::before{
    background-color: #333;

}
@media screen and (min-width:575px)and (max-width:991px) {
    .popular .single-popular{
        width: 45%;
    }
    .popular .title p{
        width: 80%;}


}
@media screen and (max-width:575px){
    .popular .row{
        flex-direction: column;
    }
    .popular .single-popular{
        width: 100%;
    }
    .popular .title p{
        width: 90%;}
        .popular .title h2{
            
               font-size: 40px;
             
           }
        

}




/* ############# .video-area style ########## */


.video-area {
 background-image: url(../image/sectin_bg1.png);
 width: 100%;
 height: 83vh;
 background-size: cover;
overflow: hidden;
 position: relative;

}

.video-area::before{
    content: "";
    opacity:0;;
    transition: opacity .5s;


}

.video-area:hover:before{

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    background-color: rgb(2,5,12);
    opacity:.5;

}
.video-area .play-btn{
    position: absolute;
    top:50%;
    left: 50%;
    right: 0;
    bottom: 0;


} 
.video-area .play-btn a{
 width: 80px;
 height: 80px;
 line-height: 80px;
 border-radius: 50%;
 border: 1px solid #fff;
text-align: center;
 display: inline-block;
 font-size: 24px;
 color: #fff;
 transform: scale(1);
 transition: transform .2s;

}


.video-area .play-btn a:hover{

    background-color: #fff;
    color: #ff2020;
    border: 1px solid transparent;
    cursor: pointer;
}
.video-area:hover .play-btn a{
    transform: scale(1.1);

}

.video-area .thumb-content-box{
    position: absolute;
    left:0;
    bottom: 0;
    width: 34%;


} 

.video-area .thumb-content-box .thumb-content{
background-image: url(../image/vidoe_more.png.webp);
width:90%;
background-size: cover;
padding: 50px 50px;
display: flex;
justify-content: flex-start;
gap: 200px;

}
.video-area .thumb-content-box .thumb-content i{

    font-size: 30px;
    color: #fff;
    
}
.video-area .thumb-content-box .thumb-content h3{
    color: #fff;
    font-family:"Josefin Sans",sans-serif; 
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;

}
@media screen and (max-width:661px) 
{
    .video-area {
        background-position:60%;
        height: 70vh;
    }
    .video-area .thumb-content-box{
        width: 80%;
      
    }
    .video-area .thumb-content-box .thumb-content{
        padding:15px 0px 10px 10px;
        gap: 70px;
        background-color: #012f5f ;
    }
   
}


@media screen and (min-width:661px)and (max-width:991px) {
    .video-area {
        background-position:60%;
        height: 70vh;
    }
    .video-area .thumb-content-box{
        width: 70%;
    }
   
    .video-area .thumb-content-box .thumb-content{
        padding: 15px 10px;
        gap: 100px;
        width: 70%;
    }
 
}

/* ############# watch-area style ########## */
.watch-area{
    padding:10%
}
.watch-area .row{
    justify-content: center;
    gap:60px;
    flex-wrap: wrap;
}

.watch-area .watch-area-content,.watch-area .watch-area-img {
    width: 45%;

}
.watch-area .watch-area-content p{
    width: 100%;
   text-align: left;
    color: #777;
    font-size: 16px;
   line-height: 30px;
   margin-bottom: 30px;
   font-family: "Roboto",sans-serif;

  }
  .watch-area .watch-area-img  img{

       width: 100%;
  }
  @media screen and (max-width:575px) 
  {
    .watch-area .container{
        width: 100%;
    }
    .watch-area .row{
        flex-direction: column;
        justify-content:flex-start;
    }
    .watch-area .watch-area-content,.watch-area .watch-area-img {
        width: 100%;
    
    }
    .arrivals .title ,.watch-area .watch-area-content h2{
      
           font-size: 30px;
           margin-bottom:40px;
          
       }
     
  }
  @media screen and (min-width:575px)and (max-width:991px) {
    .watch-area .container{
        width: 100%;
    }
    .watch-area .row{
        justify-content:flex-start;
        flex-wrap: wrap;
      
    }
    .arrivals .title ,.watch-area .watch-area-content h2{
        font-size: 30px;
        margin-bottom:30px;
    }
  }
/* ############# shop-method-area style ########## */

.shop-method-area .method-wrapper {
    background-color: #ea0000;
    padding: 3% 0;

}

.shop-method-area .method-wrapper .row{
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}
.shop-method-area .method-wrapper .method {
    width: 30%;
}
.shop-method-area .method-wrapper .method i {
    color: #fff;
    font-size: 38px;
    padding-bottom: 7%;
}
.shop-method-area .method-wrapper .method h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px;
    font-family: "Roboto",sans-serif;
}
.shop-method-area .method-wrapper .method p{
    font-size: 18px;
    color: #d3d1d1;
    width:80%;
}

@media screen and (max-width:575px) 
{

    .shop-method-area .method-wrapper {
        padding: 20% 15%;
    }
    .shop-method-area .method-wrapper .method {
      width: 110%;
  }
  .shop-method-area .method-wrapper .row{
      flex-direction: column;
      justify-content:flex-start;
      gap:30px;
  }
  .shop-method-area .method-wrapper .method p{
    width:100%;
    font-size: 16px;
}

   
}

@media screen and (min-width:575px)and (max-width:991px) {
    .shop-method-area .method-wrapper {
        padding: 10% 7%;
    }
    .shop-method-area .method-wrapper .method {
            width:45%;
        }
        .shop-method-area .method-wrapper .row{
            flex-wrap: wrap;
            justify-content: flex-start;
            gap:30px;
        }
    
    }

/* ############# footer style ########## */
footer{
    padding: 10% 0%;
}
footer .item{
    width: 25%;
   
}
footer .item p{
    width:81%;
    color: #868c98;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;
    font-family: "Roboto",sans-serif;
}
footer .item img{
    padding-bottom: 10%;
}
footer .item h3{
    color: #000;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;

}

footer .item ul li {
    color: #012f5f;
    margin-bottom: 15px;
}
footer .item ul li a {
    font-family: "Roboto",sans-serif;
    color: #868c98;
    font-weight: 300;
    transition: padding-left .5s ;
}
footer .item ul li a:hover {
    color: #ff2020;
    padding-left: 5px;
}
footer .copy-right{
    padding-top: 5%;
    display: flex;
  
}

footer .copy-right p{
    width: 60%;

}

footer .copy-right .footer-icons{
    width: 40%;
     text-align: right;
}
footer .copy-right p{
color: #888888;
font-weight: 300;
font-size: 16px;
line-height: 2;
margin-bottom: 20px;

font-family: "Roboto",sans-serif;

}
footer .copy-right p i{
 
    color: #ff2020;
    padding-right:1% ;

}

footer .copy-right p a {
    color: #ff2020;
}

footer .copy-right .footer-icons a i {
    color: #222222;
    font-size: 14px;
    padding: 5px 10px;
    transition:  transform .5s;
}
footer .copy-right .footer-icons a i:hover {
    color: #ff2020;
    transform: rotateY(180deg);
}

@media screen and (max-width:575px){
    footer .container{
        width: 95%;
    }
    footer .row{
        flex-direction: column;
    }
    footer .item{
        width: 95%;
       
    }
    footer .item p{
        width:100%;
        
    font-size: 15px;
    }

    footer .copy-right{
     flex-direction: column;
       
      
    }
    footer .copy-right p{
        width: 95%;
        text-align: 1eft;
        padding-left: 3%;
    
    }
    footer .copy-right .footer-icons{
        width: 90%;
         text-align:left;
    }
}
@media screen and (min-width:575px)and (max-width:991px) {

    footer .row{
        flex-wrap: wrap;
    }
    footer .item{
        width:30%;
       
    }
    footer .item p{
        width:90%;}
        footer .item img{
            padding-bottom: 10%;
        }
      
}